html,
body {
  height: 100%;
}
body {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Cachet W01 Book", "HG丸ｺﾞｼｯｸM-PRO", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Cachet W01 Book", "HG丸ｺﾞｼｯｸM-PRO", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  font-weight: 900;
}
h2.content-title {
  color: #ff6d00;
  text-align: center;
  font-size: 2em;
  margin: 15px 0;
}
@media (min-width: 768px) {
  h2 {
    padding: 20px 0;
  }
}
.btn {
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #2d1d1e;
  outline: 0;
  color: #2d1d1e;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  background-color: #2d1d1e;
}
.btn-wide {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: normal;
  text-transform: none;
}
.btn-wide:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .btn-default {
    border: 2px solid #2d1d1e;
  }
  .btn-wide {
    width: 100%;
  }
}
p {
  font-size: 18px;
  line-height: 1.5;
}
section {
  padding: 100px 0;
}
section.bg-gray {
  background-color: #f5f5f5;
}
section.message-space {
  padding: 60px 0;
}
header {
  display: none;
}
.content {
  display: none;
}
footer {
  display: none;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header h1 {
  margin: 15px 0 10px 15px;
  z-index: 3000;
}
@media (min-width: 768px) {
  header {
    position: fixed;
    height: 100px;
  }
  header .header-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    opacity: 0;
  }
  header .header-background-fixed {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    opacity: 1;
  }
  header.header-collapsed .header-background {
    opacity: 1;
  }
  header h1 {
    position: absolute;
    left: 0;
    font-size: 48px;
    line-height: 100px;
  }
}
@media (min-width: 992px) {
  header h1 {
    margin: 0 0 0 100px;
  }
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li > a {
  border: 0;
  border-radius: 0;
  width: 120px;
  margin-right: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border: 0;
}
.nav-tabs > li > a:hover {
  border-bottom: 1px solid #fff;
}
.nav-tabs > li.active > a {
  color: #fff;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  background-color: transparent;
  color: #fff;
}
.toggle {
  margin: 25px 15px 0 0;
}
@media (min-width: 768px) {
  .toggle {
    margin: 40px 20px 0 0;
  }
}
@media (min-width: 992px) {
  .toggle {
    margin: 30px 100px 0 0;
  }
}
#menu-toggle {
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  color: #fff;
  background-color: #F15A24;
  font-size: 18px;
}
#menu-toggle:hover {
  color: #fff;
}
@media (min-width: 768px) {
  #menu-toggle {
    position: fixed;
  }
}
#menu-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #F15A24;
  border-radius: 100%;
  background-color: #fff;
}
#nav-wrapper {
  z-index: 3001;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #F15A24;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#nav-wrapper.active {
  height: 100%;
  width: 100%;
}
#nav-wrapper h2 {
  margin: 15px 0 10px 15px;
  padding: 0;
  color: #ffffff;
}
@media (min-width: 768px) {
  #nav-wrapper h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 100px;
  }
}
@media (min-width: 992px) {
  #nav-wrapper h2 {
    margin: 0 0 0 100px;
  }
}
.tab-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 243px;
  padding: 0;
  list-style: none;
}
.tab-nav li {
  line-height: 80px;
}
.tab-nav li a {
  font-size: 28px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .tab-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 303px;
  }
  .tab-nav li {
    line-height: 100px;
    border-bottom: 1px solid #fff;
  }
  .tab-nav li:last-child {
    border-bottom: none;
  }
  .tab-nav li a {
    font-size: 34px;
    font-weight: 700;
  }
}
.top-cover {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  padding: 0;
}
.top-cover .intro-content {
  color: #ffffff;
  text-align: center;
}
.top-cover .intro-content img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 220px;
  max-height: 220px;
}
@media (min-width: 768px) {
  .top-cover {
    background-attachment: scroll;
  }
  .top-cover .intro-content {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .top-cover .intro-content img {
    max-width: 340px;
    max-height: 340px;
  }
}
@media (min-width: 992px) {
  .top-cover .intro-content {
    width: 100%;
    height: 100%;
  }
  .top-cover .intro-content img {
    width: 340px;
    height: 340px;
  }
}
.values {
  color: #fff;
  background-color: #222;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 992px) {
  .values {
    background-attachment: scroll;
  }
}
@media (min-width: 1024px) {
  .values {
    background-attachment: fixed;
    padding: 260px 0;
  }
}
#delivery {
  margin-top: 104px;
}
#delivery h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #delivery {
    background-attachment: scroll;
  }
  #delivery p {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  #delivery {
    background-attachment: fixed;
  }
}
#bakery h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #bakery {
    background-attachment: scroll;
  }
  #bakery p {
    text-align: center;
  }
}
@media (min-width: 992px) {
  #bakery {
    background-attachment: fixed;
  }
}
#wheat h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #wheat p {
    text-align: center;
  }
}
/*#campaign {
  padding: 20px 0 40px;
}*/
#products-list {
  padding-bottom: 20px;
}
#products-list .portfolio-item {
  margin: 8px 0;
}
#products-list .product-group-cover {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 200px;
}
#products-list .product-group-link {
  display: block;
}
#products-list .product-group-link h3 {
  position: absolute;
  left: 1em;
  bottom: 1em;
}
#products-list .product-group-link h3 .fa {
  margin-left: 0.5em;
}
#products-list .message-line {
  padding: 2em 0;
  margin: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#products-list .link-text {
  color: #f5f5f5;
}
@media (min-width: 768px) {
  #products-list {
    padding: 120px 0 20px;
  }
  #products-list .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #products-list .product-group-cover {
    height: 400px;
  }
  #products-list .row {
    margin-left: 0;
    margin-right: 0;
  }
  #products-list .portfolio-item {
    padding-right: 5px;
    padding-left: 0;
    margin: 5px 0;
  }
  #products-list .portfolio-item:first-child + .portfolio-item {
    padding-right: 0;
    padding-left: 5px;
  }
  #products-list .product-group-link {
    background-color: #000;
  }
  #products-list .product-group-link .product-group-cover {
    transition: all 0.5s;
  }
  #products-list .product-group-link:hover .product-group-cover {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  #products-list .message-line {
    font-size: 24px;
    text-align: center;
    padding: 2em 0;
    margin: 0;
    border-top: none;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  #products-list .container {
    width: 100%;
  }
  #products-list .product-group-cover {
    height: 450px;
  }
  #products-list .product-group-link {
    display: block;
  }
  #products-list .product-group-link h3 .fa {
    font-size: 28px;
    line-height: 28px;
  }
}
#how-to-order {
  padding-bottom: 20px;
}
#how-to-order .nav-tabs {
  width: 430px;
  margin: 0 auto;
}
#how-to-order .nav-tabs li a {
  width: 200px;
  padding: 6px 13px;
  background-color: #999;
  border-radius: 24px;
  border: none;
  text-align: center;
  color: #fff;
}
#how-to-order .nav-tabs li:first-child {
  margin-right: 30px;
}
#how-to-order .nav-tabs li.active a {
  background-color: #ff6d00;
}
#how-to-order .tab-pane {
  background-color: #fff;
  margin-top: 1em;
  padding: 2em 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#how-to-order .fa {
  color: #ff6d00;
  font-size: 3em;
}
#how-to-order .order-step .media {
  width: 90%;
  height: 64px;
  border: 2px solid #ff6d00;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 6px;
}
#how-to-order .media-body a {
  color: #333;
  font-weight: bold;
}
#how-to-order .contact-list {
  background-color: #fff;
}
#how-to-order .contact-list .table {
  width: 90%;
  margin: 0 auto;
}
#how-to-order .contact-list .table tr:first-child th {
  border-top: none;
  text-align: center;
}
#how-to-order .contact-list .table tr td {
  text-align: center;
}
#how-to-order .order-note {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#how-to-order .order-note .note-content {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0 20px;
  text-align: center;
}
#how-to-order .order-note .note-content strong {
  color: #ff6d00;
}
@media (min-width: 768px) {
  #how-to-order .contact-list .table {
    width: 60%;
  }
  #how-to-order .order-note .note-content {
    padding: 10px 0 20px;
  }
}
@media (min-width: 992px) {
  #how-to-order .order-note .note-content {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  #how-to-order .tab-content {
    margin-top: 28px;
  }
  #how-to-order .media-body {
    line-height: 42px;
  }
  #how-to-order .order-step {
    margin-bottom: 40px;
  }
  #how-to-order .order-note .note-content {
    width: 65%;
    padding-top: 40px;
    margin-bottom: 20px;
  }
}
footer {
  color: #ffffff;
}
footer hr {
  border-top: 1px solid #ccc;
}
footer .box {
  padding: 0 15px;
}
footer .box h3 {
  text-align: center;
}
footer .box p {
  text-align: center;
}
footer .box hr {
  border-top: 1px solid #fff;
}
footer .links {
  text-align: center;
}
footer .links a {
  font-size: 18px;
  color: #ffffff;
  margin: 0.5em 0;
  display: block;
}
footer .links a:visited {
  color: #ffffff;
}
footer .links a:hover {
  color: #ffffff;
}
footer .fa {
  margin-right: 0.5em;
}
footer .full-width {
  background-color: #fff;
  overflow-y: hidden;
}
footer .copyright {
  color: #ffffff;
  margin: 1.4em auto;
  padding: 8px 0;
  width: 240px;
  background-color: #F15A24;
  border-radius: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  footer h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  footer .box {
    border-left: 1px solid #fff;
    height: 180px;
    margin: 2em 0;
  }
  footer .box:first-child {
    border-left: none;
  }
  footer .box p {
    font-size: 14px;
  }
  footer .fa {
    width: 14px;
  }
  footer .links a {
    line-height: 2.0;
  }
  footer .copyright {
    width: 200px;
    text-align: center;
    font-size: 85%;
    margin: 1em auto;
  }
}
@media (min-width: 992px) {
  footer {
    margin-top: 64px;
  }
  footer .box {
    height: 154px;
  }
}
#company {
  padding-bottom: 40px;
}
.company-content {
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
}
.company-description .main {
  padding: 15px;
}
.company-description table {
  width: 100%;
}
.company-description table tr {
  line-height: 2.8;
}
.company-description table tr td:nth-child(1) {
  width: 25%;
  border-right: 1px solid #aaa;
}
.company-description table tr td:nth-child(2) {
  padding-left: 3%;
}
.company-description table tr:nth-child(2) td:nth-child(2) {
  line-height: 1.8em;
}
@media (min-width: 768px) {
  .company-content {
    border-radius: 8px;
    padding: 15px;
  }
  .company-description .main {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .company-description table tr {
    line-height: 3.5;
  }
  .company-description table tr td:nth-child(2) {
    padding-left: 5%;
  }
}
@media (min-width: 992px) {
  #company {
    padding-bottom: 150px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header h1 {
  margin: 15px 0 10px 15px;
  z-index: 3000;
}
@media (min-width: 768px) {
  header {
    position: fixed;
    height: 100px;
  }
  header .header-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    opacity: 0;
  }
  header .header-background-fixed {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    opacity: 1;
  }
  header.header-collapsed .header-background {
    opacity: 1;
  }
  header h1 {
    position: absolute;
    left: 0;
    font-size: 48px;
    line-height: 100px;
  }
}
@media (min-width: 992px) {
  header h1 {
    margin: 0 0 0 100px;
  }
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li > a {
  border: 0;
  border-radius: 0;
  width: 120px;
  margin-right: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border: 0;
}
.nav-tabs > li > a:hover {
  border-bottom: 1px solid #fff;
}
.nav-tabs > li.active > a {
  color: #fff;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  background-color: transparent;
  color: #fff;
}
.toggle {
  margin: 25px 15px 0 0;
}
@media (min-width: 768px) {
  .toggle {
    margin: 40px 20px 0 0;
  }
}
@media (min-width: 992px) {
  .toggle {
    margin: 30px 100px 0 0;
  }
}
#menu-toggle {
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  color: #fff;
  background-color: #F15A24;
  font-size: 18px;
}
#menu-toggle:hover {
  color: #fff;
}
@media (min-width: 768px) {
  #menu-toggle {
    position: fixed;
  }
}
#menu-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #F15A24;
  border-radius: 100%;
  background-color: #fff;
}
#nav-wrapper {
  z-index: 3001;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #F15A24;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#nav-wrapper.active {
  height: 100%;
  width: 100%;
}
#nav-wrapper h2 {
  margin: 15px 0 10px 15px;
  padding: 0;
  color: #ffffff;
}
@media (min-width: 768px) {
  #nav-wrapper h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 100px;
  }
}
@media (min-width: 992px) {
  #nav-wrapper h2 {
    margin: 0 0 0 100px;
  }
}
.tab-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 243px;
  padding: 0;
  list-style: none;
}
.tab-nav li {
  line-height: 80px;
}
.tab-nav li a {
  font-size: 28px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .tab-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 303px;
  }
  .tab-nav li {
    line-height: 100px;
    border-bottom: 1px solid #fff;
  }
  .tab-nav li:last-child {
    border-bottom: none;
  }
  .tab-nav li a {
    font-size: 34px;
    font-weight: 700;
  }
}

.top-cover {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  padding: 0;
}
.top-cover .intro-content {
  color: #ffffff;
  text-align: center;
}
.top-cover .intro-content img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 220px;
  max-height: 220px;
}
@media (min-width: 768px) {
  .top-cover {
    background-attachment: scroll;
  }
  .top-cover .intro-content {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .top-cover .intro-content img {
    max-width: 340px;
    max-height: 340px;
  }
}
@media (min-width: 992px) {
  .top-cover .intro-content {
    width: 100%;
    height: 100%;
  }
  .top-cover .intro-content img {
    width: 340px;
    height: 340px;
  }
}

.values {
  color: #fff;
  background-color: #222;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 992px) {
  .values {
    background-attachment: scroll;
  }
}
@media (min-width: 1024px) {
  .values {
    background-attachment: fixed;
    padding: 260px 0;
  }
}
#delivery {
  margin-top: 104px;
}
#delivery h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #delivery {
    background-attachment: scroll;
  }
  #delivery p {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  #delivery {
    background-attachment: fixed;
  }
}
#bakery h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #bakery {
    background-attachment: scroll;
  }
  #bakery p {
    text-align: center;
  }
}
@media (min-width: 992px) {
  #bakery {
    background-attachment: fixed;
  }
}
#wheat h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #wheat p {
    text-align: center;
  }
}
/*#campaign {
  padding: 20px 0 40px;
}*/

#products-list {
  padding-bottom: 20px;
}
#products-list .portfolio-item {
  margin: 8px 0;
}
#products-list .product-group-cover {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 200px;
}
#products-list .product-group-link {
  display: block;
}
#products-list .product-group-link h3 {
  position: absolute;
  left: 1em;
  bottom: 1em;
}
#products-list .product-group-link h3 .fa {
  margin-left: 0.5em;
}
#products-list .message-line {
  padding: 2em 0;
  margin: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#products-list .link-text {
  color: #f5f5f5;
}
@media (min-width: 768px) {
  #products-list {
    padding: 120px 0 20px;
  }
  #products-list .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #products-list .product-group-cover {
    height: 400px;
  }
  #products-list .row {
    margin-left: 0;
    margin-right: 0;
  }
  #products-list .portfolio-item {
    padding-right: 5px;
    padding-left: 0;
    margin: 5px 0;
  }
  #products-list .portfolio-item:first-child + .portfolio-item {
    padding-right: 0;
    padding-left: 5px;
  }
  #products-list .product-group-link {
    background-color: #000;
  }
  #products-list .product-group-link .product-group-cover {
    transition: all 0.5s;
  }
  #products-list .product-group-link:hover .product-group-cover {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  #products-list .message-line {
    font-size: 24px;
    text-align: center;
    padding: 2em 0;
    margin: 0;
    border-top: none;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  #products-list .container {
    width: 100%;
  }
  #products-list .product-group-cover {
    height: 450px;
  }
  #products-list .product-group-link {
    display: block;
  }
  #products-list .product-group-link h3 .fa {
    font-size: 28px;
    line-height: 28px;
  }
}

#how-to-order {
  padding-bottom: 20px;
}
#how-to-order .nav-tabs {
  width: 430px;
  margin: 0 auto;
}
#how-to-order .nav-tabs li a {
  width: 200px;
  padding: 6px 13px;
  background-color: #999;
  border-radius: 24px;
  border: none;
  text-align: center;
  color: #fff;
}
#how-to-order .nav-tabs li:first-child {
  margin-right: 30px;
}
#how-to-order .nav-tabs li.active a {
  background-color: #ff6d00;
}
#how-to-order .tab-pane {
  background-color: #fff;
  margin-top: 1em;
  padding: 2em 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#how-to-order .fa {
  color: #ff6d00;
  font-size: 3em;
}
#how-to-order .order-step .media {
  width: 90%;
  height: 64px;
  border: 2px solid #ff6d00;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 6px;
}
#how-to-order .media-body a {
  color: #333;
  font-weight: bold;
}
#how-to-order .contact-list {
  background-color: #fff;
}
#how-to-order .contact-list .table {
  width: 90%;
  margin: 0 auto;
}
#how-to-order .contact-list .table tr:first-child th {
  border-top: none;
  text-align: center;
}
#how-to-order .contact-list .table tr td {
  text-align: center;
}
#how-to-order .order-note {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#how-to-order .order-note .note-content {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0 20px;
  text-align: center;
}
#how-to-order .order-note .note-content strong {
  color: #ff6d00;
}
@media (min-width: 768px) {
  #how-to-order .contact-list .table {
    width: 60%;
  }
  #how-to-order .order-note .note-content {
    padding: 10px 0 20px;
  }
}
@media (min-width: 992px) {
  #how-to-order .order-note .note-content {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  #how-to-order .tab-content {
    margin-top: 28px;
  }
  #how-to-order .media-body {
    line-height: 42px;
  }
  #how-to-order .order-step {
    margin-bottom: 40px;
  }
  #how-to-order .order-note .note-content {
    width: 65%;
    padding-top: 40px;
    margin-bottom: 20px;
  }
}

.category-header {
  height: 160px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}
.category-header h3 {
  font-size: 24px;
  color: white;
  margin: auto;
  text-align: center;
  width: 90%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .category-header {
    height: 300px;
    margin-bottom: 3em;
  }
  .category-header h3 {
    width: 100%;
    font-size: 32px;
  }
}
.product-thumbnails {
  padding: 100px 0 20px;
}
.product-thumbnails .category-name {
  font-size: 21px;
  text-align: center;
  width: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  color: #fff;
  background-color: #aaa;
  border-radius: 16px;
}
.product-thumbnails .thumbnail {
  margin-bottom: 0;
}
.product-thumbnails img {
  border-radius: 4px;
}
.product-thumbnails .product-description {
  margin: 1.5em 0;
  color: #fff;
  background-color: #aaa;
  padding: 10px 0;
  border-radius: 4px;
}
.product-thumbnails .product-description .pull-left,
.product-thumbnails .product-description .pull-right {
  color: #111111;
  line-height: 3;
}
.product-thumbnails .product-description .name {
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.product-thumbnails .product-description .comment {
  color: #fff;
  font-size: 95%;
  text-align: center;
}
.product-thumbnails .product-description .price {
  color: #fff;
  font-size: 95%;
  text-align: center;
}
@media (min-width: 768px) {
  .product-thumbnails {
    padding: 150px 0 40px;
  }
  .product-thumbnails .container {
    width: 100%;
  }
  .product-thumbnails .category-header {
    height: 150px;
  }
  .product-thumbnails .thumbnail {
    width: 504px;
    margin: 0 auto;
  }
  .product-thumbnails img {
    border-radius: 0;
  }
  .product-thumbnails img.visible-xs-block,
  .product-thumbnails img.visible-sm-block {
    width: 504px;
    margin-right: auto;
    margin-left: auto;
  }
  .product-thumbnails .product-description {
    width: 504px;
    margin: 1em auto 3em;
    border-radius: 4px;
  }
}
@media (min-width: 992px) {
  .product-thumbnails {
    padding: 100px 0 0;
  }
  .product-thumbnails .container {
    width: 100%;
  }
  .product-thumbnails .thumbnail {
    width: auto;
  }
  .product-thumbnails .product-description {
    width: auto;
  }
}
.fancy-gallery {
  display: none;
}

footer {
  color: #ffffff;
}
footer hr {
  border-top: 1px solid #ccc;
}
footer .box {
  padding: 0 15px;
}
footer .box h3 {
  text-align: center;
}
footer .box p {
  text-align: center;
}
footer .box hr {
  border-top: 1px solid #fff;
}
footer .links {
  text-align: center;
}
footer .links a {
  font-size: 18px;
  color: #ffffff;
  margin: 0.5em 0;
  display: block;
}
footer .links a:visited {
  color: #ffffff;
}
footer .links a:hover {
  color: #ffffff;
}
footer .fa {
  margin-right: 0.5em;
}
footer .full-width {
  background-color: #fff;
  overflow-y: hidden;
}
footer .copyright {
  color: #ffffff;
  margin: 1.4em auto;
  padding: 8px 0;
  width: 240px;
  background-color: #F15A24;
  border-radius: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  footer h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  footer .box {
    border-left: 1px solid #fff;
    height: 180px;
    margin: 2em 0;
  }
  footer .box:first-child {
    border-left: none;
  }
  footer .box p {
    font-size: 14px;
  }
  footer .fa {
    width: 14px;
  }
  footer .links a {
    line-height: 2.0;
  }
  footer .copyright {
    width: 200px;
    text-align: center;
    font-size: 85%;
    margin: 1em auto;
  }
}
@media (min-width: 992px) {
  footer {
    margin-top: 64px;
  }
  footer .box {
    height: 154px;
  }
}

#company {
  padding-bottom: 40px;
}
.company-content {
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
}
.company-description .main {
  padding: 15px;
}
.company-description table {
  width: 100%;
}
.company-description table tr {
  line-height: 2.8;
}
.company-description table tr td:nth-child(1) {
  width: 25%;
  border-right: 1px solid #aaa;
}
.company-description table tr td:nth-child(2) {
  padding-left: 3%;
}
.company-description table tr:nth-child(2) td:nth-child(2) {
  line-height: 1.8em;
}
@media (min-width: 768px) {
  .company-content {
    border-radius: 8px;
    padding: 15px;
  }
  .company-description .main {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .company-description table tr {
    line-height: 3.5;
  }
  .company-description table tr td:nth-child(2) {
    padding-left: 5%;
  }
}
@media (min-width: 992px) {
  #company {
    padding-bottom: 150px;
  }
}

#recruit-page .pane {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 10px;
}
#recruit-page article {
  width: 85%;
  margin: 0 auto;
}
#recruit-page .description {
  margin-top: 1em;
}
#recruit-page .description dt {
  text-align: left;
}
#recruit-page .description dd {
  margin-bottom: 1.8em;
}
#recruit-page .contact-div {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 8px;
}
#recruit-page .contact-div .branch {
  margin-bottom: 1em;
}
#recruit-page .contact-div .branch .name,
#recruit-page .contact-div .branch .address,
#recruit-page .contact-div .branch .phone {
  text-align: center;
  padding: 0.4em 0;
}
#recruit-page .contact-div .branch .name {
  font-weight: bold;
}
@media (min-width: 768px) {
  #recruit-page .pane {
    margin-top: 1em;
    padding: 2em 4em;
  }
}
@media (min-width: 992px) {
  #recruit-page .contact-div {
    padding-left: 1em;
    padding-right: 1em;
  }
  #recruit-page .contact-div .branch {
    width: 100%;
    display: inline-block;
    clear: both;
  }
  #recruit-page .contact-div .branch .name,
  #recruit-page .contact-div .branch .address,
  #recruit-page .contact-div .branch .phone {
    float: left;
    text-align: left;
  }
  #recruit-page .contact-div .branch .name {
    width: 25%;
  }
  #recruit-page .contact-div .branch .address {
    width: 50%;
  }
  #recruit-page .contact-div .branch .phone {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  #recruit-page .contact-div {
    padding-left: 2em;
    padding-right: 2em;
  }
}

#news-page .pane {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 10px;
}
#news-page article {
  width: 80%;
  margin: 0 auto;
}
#news-page article .entry-header {
  margin-bottom: 1.5em;
}
#news-page article .entry-header h4 {
  text-align: center;
}
#news-page article .entry-date {
  color: #ff6d00;
  text-align: center;
  font-size: 90%;
}
#news-page article img {
  margin-bottom: 1em;
  display: block;
  margin: 0 auto;
}
#news-page article p {
  text-indent: 1em;
  margin: 10px 0;
}
@media (min-width: 768px) {
  #news-page .pane {
    margin-top: 1em;
    padding: 2em 0;
  }
  #news-page article {
    width: 70%;
    margin: 0 auto;
  }
  #news-page article img.pull-left {
    margin-right: 1em;
    margin-bottom: 1em;
  }
  #news-page article p {
    margin-bottom: 16px;
  }
}
