@base-color: #2D1D1E;
@font-color: #fff;

footer {
  color: #fff;
  hr {
    border-top: 1px solid #ccc;
  }
  .col-xs-12 {
    margin: 1em 0;
  }
  a {
    font-size: 16px;
    color: @font-color;
    &:visited {
      color: @font-color;
    }
    &:hover {
      color: @font-color;
    }
  }
  .full-width {
    background-color: #fff;
    //border-top: 4px solid #F15A24;
    overflow-y: hidden;
    .copyright {
      color: #fff;
      margin: 1.4em auto;
      padding: 8px 0;
      width: 200px;
      background-color: #F15A24;
      border-radius: 24px;
    }
  }

}
@media (min-width: 768px){
  footer {

    h3 {
      font-size: 18px;
      margin: 10px 0;
    }

    .box {
      border-left: 1px solid #fff;
      height: 154px;
      margin: 2em 0;
      &:last-child {
        border-right: 1px solid #fff;
      }
      p {
        font-size: 14px;
      }
    }

    .fa {
      width: 14px;
      margin-right: 0.5em;
    }

    .links {
      a {
        line-height: 2.0;
        color: @font-color;
        &:visited {
          color: @font-color;
        }
        &:hover {
          color: @font-color;
        }
      }
    }

    .copyright {
      text-align: center;
      color: @font-color;
      font-size: 85%;
      margin-top: 1em;
      margin-bottom: 1em;
    }

  }
}
@media (min-width: 992px) {
  footer {
  }
}
