@media (min-width: 768px) {
  #news-page {
    .pane {
      background-color: #fff;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin-top: 1em;
      padding: 2em 0;
    }

    article {
      width: 70%;
      margin: 0 auto;
      img {
        &.pull-left {
          margin-right: 1em;
          margin-bottom: 1em;
        }
      }
      p {
        margin-bottom: 16px;
      }
      .entry-header {
        margin-bottom: 1.5em;
        h4 {
          text-align: center;
        }
      }
      .entry-date {
        color: #ff6d00;
        text-align: center;
        font-size: 90%;
      }
    }
  }
}
@media (min-width: 1200px) {

}
