h2 {
  &.content-title {
    color: #ff6d00;
    text-align: center;
    font-size: 2em;
  }
}

#how-to-order {
  padding-bottom: 20px;
  .nav-tabs {
    width: 430px;
    margin: 0 auto;
    li {
      a {
        width: 200px;
        padding: 6px 13px;
        background-color: #999;
        border-radius: 24px;
        border: none;
        text-align: center;
        color: #fff;
      }
      &:first-child {
        margin-right: 30px;
      }
      &.active {
        a {
          background-color: #ff6d00;
        }
      }
    }
  }

  .tab-pane {
    background-color: #fff;
    margin-top: 1em;
    padding: 2em 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .fa {
    color: #ff6d00;
    font-size: 3em;
  }

  .order-step {
    .media {
      width: 90%;
      height: 64px;
      border: 2px solid #ff6d00;
      margin: 0 auto;
      padding: 10px 20px;
      border-radius: 6px;
    }
  }

  .media-body {
    a {
      color: #333;
      font-weight: bold;
    }
  }
  .contact-list {
    background-color: #fff;
    .table {
      width: 90%;
      margin: 0 auto;
      tr {
        &:first-child {
          th {
            border-top: none;
            text-align: center;
          }
        }
        td {
          text-align: center;
        }
      }
    }
  }
  .order-note {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .note-content {
      width: 80%;
      margin: 0 auto;
      padding: 40px 0 20px;
      text-align: center;
      strong {
        color: #ff6d00;
      }
    }
  }
}

@media (min-width: 768px) {
  #how-to-order {
    .contact-list {
      .table {
        width: 60%;
      }
    }

    .order-note {
      .note-content {
        padding: 10px 0 20px;
      }
    }
  }
}
@media (min-width: 992px) {
  #how-to-order {
    .order-note {
      .note-content {
        padding: 40px 0;
      }
    }
  }
}
@media (min-width: 1200px) {
  #how-to-order {
    .tab-content {
      margin-top: 28px;
    }
    .media-body {
      line-height: 42px;
    }
    .order-step {
      margin-bottom: 40px;
    }
    .order-note {
      .note-content {
        width: 65%;
        padding-top: 40px;
        margin-bottom: 20px;
      }
    }
  }
}
