#how-to-order {
  padding-bottom: 20px;
  .nav-tabs {
    width: 100%;
    margin: 0 auto;
    li {
      width: 48%;
      a {
        width: 100%;
        padding: 6px 13px;
        background-color: #999;
        border-radius: 24px;
        border: none;
        text-align: center;
        color: #fff;
      }
      &:first-child {
        margin-right: 4%;
      }
      &.active {
        a {
          background-color: #ff6d00;
        }
      }
    }
  }

  .tab-pane {
    background-color: #fff;
    margin-top: 1em;
    padding: 2em 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .fa {
    color: #ff6d00;
    font-size: 3em;
  }

  .order-step {
    .media {
      width: 90%;
      height: 64px;
      border: 2px solid #ff6d00;
      margin: 0 auto;
      padding: 10px 20px;
      border-radius: 6px;
    }
  }

  .media-body {
    a {
      color: #333;
      font-weight: bold;
    }
  }

  .contact-container {
    background-color: #fff;
    .contact-inner {
      width: 90%;
      background-color: rgb(245, 245, 245);
      //padding: 20px 0;
      margin: 0 auto;
      border-radius: 8px;
      .name, .address, .phone {
        text-align: center;
        padding: 0.4em 0;
      }
      .name {
        font-weight: bold;
        padding-top: 15px;
      }
      .phone {
        padding-bottom: 10px;
      }
    }
  }

  .order-note {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .note-content {
      width: 80%;
      margin: 0 auto;
      padding: 40px 0 20px;
      text-align: center;
      strong {
        color: #ff6d00;
      }
    }
  }
}

@media (min-width: 480px) {
  #how-to-order {
    .nav-tabs {
      width: 92%;
      li {
        width: 44%;
        &:first-child {
          margin-right: 12%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #how-to-order {
    .contact-list {
      .table {
        width: 60%;
      }
    }

    .order-note {
      .note-content {
        padding: 10px 0 20px;
      }
    }

    .contact-container {
      padding-bottom: 1em;
      .contact-inner {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
@media (min-width: 992px) {
  #how-to-order {
    .order-note {
      .note-content {
        padding: 40px 0;
      }
    }
  }
}
@media (min-width: 1200px) {
  #how-to-order {
    .tab-content {
      margin-top: 28px;
    }
    .media-body {
      line-height: 42px;
    }
    .order-step {
      margin-bottom: 40px;
    }
    .order-note {
      .note-content {
        width: 65%;
        padding-top: 40px;
        margin-bottom: 20px;
      }
    }
  }
}
