@font-color: #111;

.product-thumbnails {
  padding: 100px 0 20px;
  .thumbnail {
    margin-bottom: 0;
  }
  img {
    border-radius: 4px;
  }
  .product-description {
    margin: 1.5em 0;
    color: #fff;
    background-color: #aaa;
    padding: 10px 0;
    border-radius: 4px;
    .pull-left, .pull-right {
      color: @font-color;
      line-height: 3;
    }
    .name {
      color: #fff;
      font-weight: normal;
      text-align: center;
    }
    .comment {
      color: #fff;
      font-size: 95%;
      text-align: center;

    }
    .price {
      color: #fff;
      font-size: 95%;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .product-thumbnails {
    padding: 150px 0 40px;
    .container {
      width: 100%;
    }
    .thumbnail {
      width: 504px;
      margin: 0 auto;
    }
    img {
      border-radius: 0;
      &.visible-xs-block, &.visible-sm-block {
        width: 504px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .product-description {
      width: 504px;
      margin: 1em auto 3em;
      border-radius: 4px;
    }
  }
}
@media (min-width: 992px) {
  .product-thumbnails {
    padding: 120px 0 0;
    .container {
      width: 100%;
    }
    .thumbnail {
      width: auto;
    }
    .product-description {
      width: auto;
    }
  }
}

// jquery.fancyboxで表示させるコンテンツ
.fancy-gallery {
  display: none;
}
